:root {
  --background-color: #ffffff;
  --font-primary: Roboto, sans-serif;
  --font-secondary: Raleway, sans-serif;
}
body {
  font-family: var(--font-primary);
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: var(--background-color);
}
.button {
  cursor: pointer;
}
.button:focus,
.button:hover {
  color: #404bbf;
}
.button-all {
  color: white;
  background-color: #404bbf;
}
.button-other {
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.menu-links {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-links:focus,
.menu-links:hover {
  color: #404bbf;
}
.menu-links-contact {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.menu-links-contact:focus,
.menu-links-contact:hover {
  color: #404bbf;
}
h1 {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.background-h1 {
  background-color: #2e2f42;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}
.order-button {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.webstudio {
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
